In [107]:
import pandas as pd


data = pd.read_excel("/home/simplon/Téléchargements/chomage_zone.xls","txcho_ze" , skiprows=5)
print(data)

                                                ZE2010           LIBZE2010  \
0                                                 0050      Mont-de-Marsan
1                                                 0051             Alençon
2                                                 0052       Cosne-Clamecy
3                                                 0053               Mâcon
4                                                 0054    Nogent-le-Rotrou
..                                                 ...                 ...
300                                               9404              Bastia
301                                               9405  Calvi-L'Île-Rousse
302                                               9406               Corte
303                                               9407  Ghisonaccia-Aléria
304  Source : Insee, Estimations de taux de chômage...                 NaN

      REG         LIBREG  2003-T1  2003-T2  2003-T3  2003-T4  2004-T1  \
0     0.0  interrégional      6.0      6.1      6.0      6.3      6.4
1     0.0  interrégional      7.2      7.5      7.2      7.6      7.7
2     0.0  interrégional      7.5      7.6      7.4      7.8      8.0
3     0.0  interrégional      5.3      5.3      5.2      5.3      5.4
4     0.0  interrégional      5.9      6.3      6.4      7.0      7.3
..    ...            ...      ...      ...      ...      ...      ...
300  94.0          Corse      9.2      8.9      8.9      9.3      9.4
301  94.0          Corse     11.7     11.4     11.2     11.4     11.2
302  94.0          Corse      8.3      7.6      8.2      8.1      8.0
303  94.0          Corse      9.6      8.8      9.0      9.4      9.6
304   NaN            NaN      NaN      NaN      NaN      NaN      NaN

     2004-T2  ...  2017-T4  2018-T1  2018-T2  2018-T3  2018-T4  2019-T1  \
0        6.2  ...      7.3      7.4      7.1      7.0      6.7      6.8
1        7.4  ...      8.3      8.6      8.4      8.4      8.1      8.1
2        7.7  ...      8.1      8.3      8.1      7.9      7.5      7.5
3        5.4  ...      6.4      6.5      6.5      6.4      6.3      6.4
4        7.2  ...      8.1      8.3      8.1      8.0      7.9      7.9
..       ...  ...      ...      ...      ...      ...      ...      ...
300      9.3  ...      9.7     10.1      9.7      9.4      9.2      9.2
301     11.5  ...     11.6     12.5     12.2     11.9     11.4     11.6
302      8.0  ...      8.5      8.9      8.9      8.6      7.8      8.2
303      9.7  ...     10.0     10.6     10.4     10.1      9.9     10.0
304      NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN

     2019-T2  2019-T3  2019-T4  2020-T1
0        6.7      6.7      6.5      6.1
1        7.9      7.9      7.8      7.4
2        7.2      7.4      7.2      6.8
3        6.3      6.3      6.1      5.9
4        7.8      8.0      7.4      7.1
..       ...      ...      ...      ...
300      8.8      8.5      8.2      7.9
301     11.0     10.8     10.5     10.1
302      7.6      7.3      7.1      7.3
303      9.4      9.4      9.0      8.6
304      NaN      NaN      NaN      NaN

[305 rows x 73 columns]

In [5]:
data.columns

Index(['ZE2010', 'LIBZE2010', 'REG', 'LIBREG', '2003-T1', '2003-T2', '2003-T3',
       '2003-T4', '2004-T1', '2004-T2', '2004-T3', '2004-T4', '2005-T1',
       '2005-T2', '2005-T3', '2005-T4', '2006-T1', '2006-T2', '2006-T3',
       '2006-T4', '2007-T1', '2007-T2', '2007-T3', '2007-T4', '2008-T1',
       '2008-T2', '2008-T3', '2008-T4', '2009-T1', '2009-T2', '2009-T3',
       '2009-T4', '2010-T1', '2010-T2', '2010-T3', '2010-T4', '2011-T1',
       '2011-T2', '2011-T3', '2011-T4', '2012-T1', '2012-T2', '2012-T3',
       '2012-T4', '2013-T1', '2013-T2', '2013-T3', '2013-T4', '2014-T1',
       '2014-T2', '2014-T3', '2014-T4', '2015-T1', '2015-T2', '2015-T3',
       '2015-T4', '2016-T1', '2016-T2', '2016-T3', '2016-T4', '2017-T1',
       '2017-T2', '2017-T3', '2017-T4', '2018-T1', '2018-T2', '2018-T3',
       '2018-T4', '2019-T1', '2019-T2', '2019-T3', '2019-T4', '2020-T1'],
      dtype='object')

In [55]:
data.columns.values

array(['ZE2010', 'LIBZE2010', 'REG', 'LIBREG', '2003-T1', '2003-T2',
       '2003-T3', '2003-T4', '2004-T1', '2004-T2', '2004-T3', '2004-T4',
       '2005-T1', '2005-T2', '2005-T3', '2005-T4', '2006-T1', '2006-T2',
       '2006-T3', '2006-T4', '2007-T1', '2007-T2', '2007-T3', '2007-T4',
       '2008-T1', '2008-T2', '2008-T3', '2008-T4', '2009-T1', '2009-T2',
       '2009-T3', '2009-T4', '2010-T1', '2010-T2', '2010-T3', '2010-T4',
       '2011-T1', '2011-T2', '2011-T3', '2011-T4', '2012-T1', '2012-T2',
       '2012-T3', '2012-T4', '2013-T1', '2013-T2', '2013-T3', '2013-T4',
       '2014-T1', '2014-T2', '2014-T3', '2014-T4', '2015-T1', '2015-T2',
       '2015-T3', '2015-T4', '2016-T1', '2016-T2', '2016-T3', '2016-T4',
       '2017-T1', '2017-T2', '2017-T3', '2017-T4', '2018-T1', '2018-T2',
       '2018-T3', '2018-T4', '2019-T1', '2019-T2', '2019-T3', '2019-T4',
       '2020-T1'], dtype=object)

In [57]:
data.head()

,ZE2010,LIBZE2010,REG,LIBREG,2003-T1,2003-T2,2003-T3,2003-T4,2004-T1,2004-T2,...,2017-T4,2018-T1,2018-T2,2018-T3,2018-T4,2019-T1,2019-T2,2019-T3,2019-T4,2020-T1
0,0050,Mont-de-Marsan,0.0,interrégional,6.0,6.1,6.0,6.3,6.4,6.2,...,7.3,7.4,7.1,7.0,6.7,6.8,6.7,6.7,6.5,6.1
1,0051,Alençon,0.0,interrégional,7.2,7.5,7.2,7.6,7.7,7.4,...,8.3,8.6,8.4,8.4,8.1,8.1,7.9,7.9,7.8,7.4
2,0052,Cosne-Clamecy,0.0,interrégional,7.5,7.6,7.4,7.8,8.0,7.7,...,8.1,8.3,8.1,7.9,7.5,7.5,7.2,7.4,7.2,6.8
3,0053,Mâcon,0.0,interrégional,5.3,5.3,5.2,5.3,5.4,5.4,...,6.4,6.5,6.5,6.4,6.3,6.4,6.3,6.3,6.1,5.9
4,0054,Nogent-le-Rotrou,0.0,interrégional,5.9,6.3,6.4,7.0,7.3,7.2,...,8.1,8.3,8.1,8.0,7.9,7.9,7.8,8.0,7.4,7.1

In [59]:
data.columns

Index(['ZE2010', 'LIBZE2010', 'REG', 'LIBREG', '2003-T1', '2003-T2', '2003-T3',
       '2003-T4', '2004-T1', '2004-T2', '2004-T3', '2004-T4', '2005-T1',
       '2005-T2', '2005-T3', '2005-T4', '2006-T1', '2006-T2', '2006-T3',
       '2006-T4', '2007-T1', '2007-T2', '2007-T3', '2007-T4', '2008-T1',
       '2008-T2', '2008-T3', '2008-T4', '2009-T1', '2009-T2', '2009-T3',
       '2009-T4', '2010-T1', '2010-T2', '2010-T3', '2010-T4', '2011-T1',
       '2011-T2', '2011-T3', '2011-T4', '2012-T1', '2012-T2', '2012-T3',
       '2012-T4', '2013-T1', '2013-T2', '2013-T3', '2013-T4', '2014-T1',
       '2014-T2', '2014-T3', '2014-T4', '2015-T1', '2015-T2', '2015-T3',
       '2015-T4', '2016-T1', '2016-T2', '2016-T3', '2016-T4', '2017-T1',
       '2017-T2', '2017-T3', '2017-T4', '2018-T1', '2018-T2', '2018-T3',
       '2018-T4', '2019-T1', '2019-T2', '2019-T3', '2019-T4', '2020-T1'],
      dtype='object')

In [60]:
data['LIBREG'].value_counts()

Auvergne-Rhône-Alpes          35
Grand-Est                     31
Nouvelle-Aquitaine            31
Occitanie                     30
Hauts-de-France               26
Bourgogne-Franche-Comté       23
Normandie                     20
Ile-de-France                 19
Pays de la Loire              19
Centre-Val-de-Loire           19
Bretagne                      18
Provence-Alpes-Côte d'Azur    17
interrégional                  9
Corse                          7
Name: LIBREG, dtype: int64

In [7]:
print(data.loc[data['LIBREG']=="Provence-Alpes-Côte d'Azur",:])

    ZE2010                 LIBZE2010   REG                      LIBREG  \
280   9301           Digne-les-Bains  93.0  Provence-Alpes-Côte d'Azur
281   9302                  Manosque  93.0  Provence-Alpes-Côte d'Azur
282   9303                  Briançon  93.0  Provence-Alpes-Côte d'Azur
283   9304                       Gap  93.0  Provence-Alpes-Côte d'Azur
284   9305            Cannes-Antibes  93.0  Provence-Alpes-Côte d'Azur
285   9306  Menton Vallée de la Roya  93.0  Provence-Alpes-Côte d'Azur
286   9307                      Nice  93.0  Provence-Alpes-Côte d'Azur
287   9308           Aix-en-Provence  93.0  Provence-Alpes-Côte d'Azur
288   9309                     Arles  93.0  Provence-Alpes-Côte d'Azur
289   9310         Marseille-Aubagne  93.0  Provence-Alpes-Côte d'Azur
290   9311          Istres-Martigues  93.0  Provence-Alpes-Côte d'Azur
291   9312         Salon-de-Provence  93.0  Provence-Alpes-Côte d'Azur
292   9313                Draguignan  93.0  Provence-Alpes-Côte d'Azur
293   9314      Fréjus-Saint Raphaël  93.0  Provence-Alpes-Côte d'Azur
294   9315                    Toulon  93.0  Provence-Alpes-Côte d'Azur
295   9316             Cavaillon-Apt  93.0  Provence-Alpes-Côte d'Azur
296   9317                    Orange  93.0  Provence-Alpes-Côte d'Azur

     2003-T1  2003-T2  2003-T3  2003-T4  2004-T1  2004-T2  ...  2017-T4  \
280      7.5      7.6      7.2      7.6      7.7      7.5  ...     10.7
281     10.0     10.1      9.8      9.8      9.9      9.7  ...     11.2
282      7.0      7.1      7.0      7.4      7.4      7.4  ...      8.2
283      7.0      7.0      6.9      7.1      7.3      7.1  ...      8.2
284      9.5      9.7      9.4      9.5      9.5      9.3  ...      9.8
285      6.8      6.9      6.7      6.9      6.9      6.7  ...      8.3
286      8.1      8.1      8.0      8.3      8.3      8.1  ...      9.6
287      9.2      9.4      9.2      9.3      9.4      9.0  ...      8.4
288     11.1     11.4     11.1     11.4     11.5     11.0  ...     12.4
289     11.6     11.8     11.4     11.6     11.7     11.3  ...     11.5
290     10.3     10.5     10.3     10.5     10.5     10.2  ...     10.8
291     10.7     10.8     10.4     10.6     10.7     10.3  ...     10.4
292     11.4     11.4     11.2     11.4     11.3     11.1  ...     11.6
293     10.0     10.1     10.1     10.6     10.9     11.0  ...     11.7
294     10.6     10.6     10.3     10.5     10.6     10.4  ...      9.5
295      9.3      9.2      8.9      9.1      9.1      9.0  ...     11.9
296      9.7      9.6      9.2      9.3      9.4      9.3  ...     12.0

     2018-T1  2018-T2  2018-T3  2018-T4  2019-T1  2019-T2  2019-T3  2019-T4  \
280     11.0     10.7     10.6     10.4     10.3     10.0      9.8      9.4
281     11.6     11.4     11.1     10.9     11.0     10.6     10.5     10.0
282      8.4      8.3      8.4      8.2      8.3      8.3      8.0      7.9
283      8.3      8.3      8.2      8.0      8.0      7.7      7.5      7.2
284     10.1      9.9      9.7      9.5      9.5      9.1      9.1      8.7
285      8.4      8.1      7.8      7.6      7.6      7.3      7.2      6.9
286      9.8      9.6      9.5      9.2      9.2      8.9      8.9      8.4
287      8.6      8.5      8.3      8.1      8.0      7.7      7.7      7.3
288     12.5     12.5     12.3     11.7     11.8     11.4     11.4     11.0
289     11.9     11.7     11.6     11.2     11.2     10.8     10.7     10.3
290     11.1     10.8     10.7     10.2     10.3     10.1      9.9      9.6
291     10.6     10.4     10.3     10.0     10.0      9.7      9.5      9.1
292     12.0     11.8     11.5     11.2     11.2     10.9     10.8     10.2
293     12.2     11.9     11.7     11.5     11.5     11.1     11.0     10.5
294      9.7      9.6      9.5      9.3      9.3      8.9      8.8      8.4
295     12.1     11.9     11.8     11.4     11.7     11.2     11.2     10.7
296     12.2     12.1     12.0     11.7     11.6     11.3     11.2     10.5

     2020-T1
280      9.1
281      9.6
282      7.5
283      7.0
284      8.5
285      6.7
286      8.2
287      7.0
288     10.7
289      9.9
290      9.2
291      8.7
292      9.8
293     10.3
294      8.1
295     10.3
296     10.1

[17 rows x 73 columns]

In [11]:
data2 = data.loc[data['LIBREG']=="Provence-Alpes-Côte d'Azur",:]
print(data2)

    ZE2010                 LIBZE2010   REG                      LIBREG  \
280   9301           Digne-les-Bains  93.0  Provence-Alpes-Côte d'Azur
281   9302                  Manosque  93.0  Provence-Alpes-Côte d'Azur
282   9303                  Briançon  93.0  Provence-Alpes-Côte d'Azur
283   9304                       Gap  93.0  Provence-Alpes-Côte d'Azur
284   9305            Cannes-Antibes  93.0  Provence-Alpes-Côte d'Azur
285   9306  Menton Vallée de la Roya  93.0  Provence-Alpes-Côte d'Azur
286   9307                      Nice  93.0  Provence-Alpes-Côte d'Azur
287   9308           Aix-en-Provence  93.0  Provence-Alpes-Côte d'Azur
288   9309                     Arles  93.0  Provence-Alpes-Côte d'Azur
289   9310         Marseille-Aubagne  93.0  Provence-Alpes-Côte d'Azur
290   9311          Istres-Martigues  93.0  Provence-Alpes-Côte d'Azur
291   9312         Salon-de-Provence  93.0  Provence-Alpes-Côte d'Azur
292   9313                Draguignan  93.0  Provence-Alpes-Côte d'Azur
293   9314      Fréjus-Saint Raphaël  93.0  Provence-Alpes-Côte d'Azur
294   9315                    Toulon  93.0  Provence-Alpes-Côte d'Azur
295   9316             Cavaillon-Apt  93.0  Provence-Alpes-Côte d'Azur
296   9317                    Orange  93.0  Provence-Alpes-Côte d'Azur

     2003-T1  2003-T2  2003-T3  2003-T4  2004-T1  2004-T2  ...  2017-T4  \
280      7.5      7.6      7.2      7.6      7.7      7.5  ...     10.7
281     10.0     10.1      9.8      9.8      9.9      9.7  ...     11.2
282      7.0      7.1      7.0      7.4      7.4      7.4  ...      8.2
283      7.0      7.0      6.9      7.1      7.3      7.1  ...      8.2
284      9.5      9.7      9.4      9.5      9.5      9.3  ...      9.8
285      6.8      6.9      6.7      6.9      6.9      6.7  ...      8.3
286      8.1      8.1      8.0      8.3      8.3      8.1  ...      9.6
287      9.2      9.4      9.2      9.3      9.4      9.0  ...      8.4
288     11.1     11.4     11.1     11.4     11.5     11.0  ...     12.4
289     11.6     11.8     11.4     11.6     11.7     11.3  ...     11.5
290     10.3     10.5     10.3     10.5     10.5     10.2  ...     10.8
291     10.7     10.8     10.4     10.6     10.7     10.3  ...     10.4
292     11.4     11.4     11.2     11.4     11.3     11.1  ...     11.6
293     10.0     10.1     10.1     10.6     10.9     11.0  ...     11.7
294     10.6     10.6     10.3     10.5     10.6     10.4  ...      9.5
295      9.3      9.2      8.9      9.1      9.1      9.0  ...     11.9
296      9.7      9.6      9.2      9.3      9.4      9.3  ...     12.0

     2018-T1  2018-T2  2018-T3  2018-T4  2019-T1  2019-T2  2019-T3  2019-T4  \
280     11.0     10.7     10.6     10.4     10.3     10.0      9.8      9.4
281     11.6     11.4     11.1     10.9     11.0     10.6     10.5     10.0
282      8.4      8.3      8.4      8.2      8.3      8.3      8.0      7.9
283      8.3      8.3      8.2      8.0      8.0      7.7      7.5      7.2
284     10.1      9.9      9.7      9.5      9.5      9.1      9.1      8.7
285      8.4      8.1      7.8      7.6      7.6      7.3      7.2      6.9
286      9.8      9.6      9.5      9.2      9.2      8.9      8.9      8.4
287      8.6      8.5      8.3      8.1      8.0      7.7      7.7      7.3
288     12.5     12.5     12.3     11.7     11.8     11.4     11.4     11.0
289     11.9     11.7     11.6     11.2     11.2     10.8     10.7     10.3
290     11.1     10.8     10.7     10.2     10.3     10.1      9.9      9.6
291     10.6     10.4     10.3     10.0     10.0      9.7      9.5      9.1
292     12.0     11.8     11.5     11.2     11.2     10.9     10.8     10.2
293     12.2     11.9     11.7     11.5     11.5     11.1     11.0     10.5
294      9.7      9.6      9.5      9.3      9.3      8.9      8.8      8.4
295     12.1     11.9     11.8     11.4     11.7     11.2     11.2     10.7
296     12.2     12.1     12.0     11.7     11.6     11.3     11.2     10.5

     2020-T1
280      9.1
281      9.6
282      7.5
283      7.0
284      8.5
285      6.7
286      8.2
287      7.0
288     10.7
289      9.9
290      9.2
291      8.7
292      9.8
293     10.3
294      8.1
295     10.3
296     10.1

[17 rows x 73 columns]

In [14]:
data2['LIBZE2010'].value_counts()

Draguignan                  1
Menton Vallée de la Roya    1
Istres-Martigues            1
Salon-de-Provence           1
Arles                       1
Fréjus-Saint Raphaël        1
Cannes-Antibes              1
Aix-en-Provence             1
Digne-les-Bains             1
Gap                         1
Marseille-Aubagne           1
Orange                      1
Cavaillon-Apt               1
Toulon                      1
Briançon                    1
Nice                        1
Manosque                    1
Name: LIBZE2010, dtype: int64

In [59]:
data_t1_2020 = (data['2020-T1']> 7.1).values
print(data_t1_2020)

[False  True False False False  True  True False  True  True  True False
 False False  True False  True False  True False  True  True False False
 False False False False  True  True  True  True False False  True False
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True False  True
  True False  True  True False False False False False False  True  True
 False False False  True False False False False False False False False
 False  True  True False False False False False False  True False False
  True False False False  True  True  True  True False  True  True  True
  True False  True  True  True  True  True False  True  True  True False
  True  True  True  True False  True False  True  True  True False False
 False False False  True False False  True False False  True False False
 False False False  True False False False False False  True False  True
 False False False False  True  True False  True  True False False  True
  True  True  True False False False  True  True False False False False
 False False False False False False False  True  True  True False  True
  True  True  True False False False False  True  True  True  True  True
  True  True  True  True  True  True False False False  True  True  True
 False False  True False  True False  True  True  True  True False False
  True False False False  True  True  True  True  True  True False False
 False  True False False False False False False False False False False
  True  True  True False False False False False False False False  True
  True  True  True  True  True  True  True  True  True  True  True  True
 False  True  True  True  True  True  True False  True False  True False
  True  True  True  True  True  True  True  True  True False  True  True
  True  True  True  True False]

In [60]:
data_t1_2019 = (data['2019-T1']> 7.1).values
print(data_t1_2019)

[False  True  True False  True  True  True  True  True  True  True  True
 False False  True  True  True False  True False  True  True False False
 False  True False False  True  True  True  True False False  True False
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True False  True  True  True  True False  True  True
  True  True False  True  True  True  True False False False  True False
  True  True  True False  True False False  True False  True  True  True
  True False  True  True  True  True  True  True False  True  True  True
  True  True  True  True  True  True  True  True  True  True  True False
  True  True  True  True False  True  True  True  True  True  True False
 False False False  True False False  True False False  True False False
 False False False  True  True False False False  True  True False  True
 False False False False  True  True False  True  True False False  True
  True  True  True False  True  True  True  True  True False  True False
  True False  True False False  True  True  True  True  True False  True
  True  True  True False False False False  True  True  True  True  True
  True  True  True  True  True  True  True False False  True  True  True
 False  True  True False  True False  True  True  True  True False False
  True  True False False  True  True  True  True  True  True  True False
  True  True False  True False False False False False False False False
  True  True  True False False False  True False False  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
 False  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True False]

In [61]:
data_t1_2018 = (data['2018-T1']> 7.1).values
print(data_t1_2018)

[ True  True  True False  True  True  True  True  True  True  True  True
 False  True  True  True  True False  True False  True  True False False
 False  True False  True  True  True  True  True  True False  True False
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True False  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True False  True False  True False
  True  True  True False  True  True  True  True  True  True  True  True
  True False  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True False  True  True  True  True  True  True False
 False False False  True False False  True False  True  True False False
  True False  True  True  True False  True False  True  True False  True
 False False False  True  True  True  True  True  True False False  True
  True  True  True False  True  True  True  True  True False  True False
  True False  True False  True  True  True  True  True  True  True  True
  True  True  True False  True False False  True  True  True  True  True
  True  True  True  True  True  True  True False  True  True  True  True
 False  True  True  True  True False  True  True  True  True False False
  True  True False False  True  True  True  True  True  True  True  True
  True  True False  True False False False False  True False False False
  True  True  True False False False  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
 False  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True False]

In [62]:
data_7_1 = data_t1_2020 & data_t1_2019 & data_t1_2018
print(data_7_1)

[False  True False False False  True  True False  True  True  True False
 False False  True False  True False  True False  True  True False False
 False False False False  True  True  True  True False False  True False
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True False  True
  True False  True  True False False False False False False  True  True
 False False False  True False False False False False False False False
 False  True  True False False False False False False  True False False
  True False False False  True  True  True  True False  True  True  True
  True False  True  True  True  True  True False  True  True  True False
  True  True  True  True False  True False  True  True  True False False
 False False False  True False False  True False False  True False False
 False False False  True False False False False False  True False  True
 False False False False  True  True False  True  True False False  True
  True  True  True False False False  True  True False False False False
 False False False False False False False  True  True  True False  True
  True  True  True False False False False  True  True  True  True  True
  True  True  True  True  True  True False False False  True  True  True
 False False  True False  True False  True  True  True  True False False
  True False False False  True  True  True  True  True  True False False
 False  True False False False False False False False False False False
  True  True  True False False False False False False False False  True
  True  True  True  True  True  True  True  True  True  True  True  True
 False  True  True  True  True  True  True False  True False  True False
  True  True  True  True  True  True  True  True  True False  True  True
  True  True  True  True False]

In [63]:
df = pd.DataFrame(data_7_1, columns = ['booleen'])
print(df)

     booleen
0      False
1       True
2      False
3      False
4      False
..       ...
300     True
301     True
302     True
303     True
304    False

[305 rows x 1 columns]

In [65]:
pd.unique(data_7_1)
df['booleen'].value_counts()

True     163
False    142
Name: booleen, dtype: int64

In [108]:
nom_colonnes = ['code', 'libelle', 'pole emploi']
p_emploi = pd.read_excel("/home/simplon/Téléchargements/pole_emploi.xlsx", names = nom_colonnes,skiprows = 3)
p_emploi.head()

   code     libelle  pole emploi
0     1  Guadeloupe           17
1     2  Martinique           11
2     3      Guyane            8
3     4  La Réunion           17
4     6     Mayotte            3

In [125]:
data = data.sort_values(by = 'REG')
p_emploi = p_emploi.sort_values(by = 'code')

p_tx_chomage = data.merge(p_emploi, left_on = 'REG', right_on = 'code')
p_tx_chomage

,ZE2010,LIBZE2010,REG,LIBREG,2003-T1,2003-T2,2003-T3,2003-T4,2004-T1,2004-T2,...,2018-T4_y,2019-T1_y,2019-T2_y,2019-T3_y,2019-T4_y,2020-T1_y,code,libelle,pole emploi,quantile
0,1108,Provins,11.0,Ile-de-France,7.6,8.5,8.8,9.3,9.6,9.3,...,8.1,8.1,7.8,7.9,7.6,7.5,11,Île-de-France,164,Q25
1,1108,Provins,11.0,Ile-de-France,7.6,8.5,8.8,9.3,9.6,9.3,...,7.7,7.6,7.4,7.6,7.2,7.1,11,Île-de-France,164,Q25
2,1108,Provins,11.0,Ile-de-France,7.6,8.5,8.8,9.3,9.6,9.3,...,6.7,6.7,6.5,6.5,6.3,6.2,11,Île-de-France,164,Q25
3,1108,Provins,11.0,Ile-de-France,7.6,8.5,8.8,9.3,9.6,9.3,...,6.5,6.5,6.3,6.4,6.1,5.8,11,Île-de-France,164,Q25
4,1108,Provins,11.0,Ile-de-France,7.6,8.5,8.8,9.3,9.6,9.3,...,7.9,8.1,7.9,7.9,7.6,7.3,11,Île-de-France,164,Q25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198860,9407,Ghisonaccia-Aléria,94.0,Corse,9.6,8.8,9.0,9.4,9.6,9.7,...,11.1,11.1,10.6,10.1,10.0,9.7,94,Corse,31,Q25
198861,9407,Ghisonaccia-Aléria,94.0,Corse,9.6,8.8,9.0,9.4,9.6,9.7,...,11.4,11.6,11.0,10.8,10.5,10.1,94,Corse,31,Q25
198862,9407,Ghisonaccia-Aléria,94.0,Corse,9.6,8.8,9.0,9.4,9.6,9.7,...,11.1,11.1,10.6,10.1,10.0,9.7,94,Corse,31,Q25
198863,9407,Ghisonaccia-Aléria,94.0,Corse,9.6,8.8,9.0,9.4,9.6,9.7,...,9.2,9.2,8.8,8.5,8.2,7.9,94,Corse,31,Q25
198864,9407,Ghisonaccia-Aléria,94.0,Corse,9.6,8.8,9.0,9.4,9.6,9.7,...,9.9,10.0,9.4,9.4,9.0,8.6,94,Corse,31,Q25

In [129]:
p_emploi['quantile'] = pd.qcut(p_emploi['pole emploi'],q = 4,labels = ['Q25','Q50','Q75','Q100'])
p_emploi.columns

Index(['ZE2010_x', 'LIBZE2010_x', 'REG_x', 'LIBREG_x', '2003-T1_x',
       '2003-T2_x', '2003-T3_x', '2003-T4_x', '2004-T1_x', '2004-T2_x',
       ...
       '2018-T4_y', '2019-T1_y', '2019-T2_y', '2019-T3_y', '2019-T4_y',
       '2020-T1_y', 'code', 'libelle', 'pole emploi', 'quantile'],
      dtype='object', length=150)

In [128]:
p_tx_chomage.pivot_table(index ='LIBREG',columns = 'quantile',values ='2020-T1')

quantile                         Q25       Q50       Q75      Q100
LIBREG
Auvergne-Rhône-Alpes             NaN       NaN       NaN  6.728571
Bourgogne-Franche-Comté          NaN  6.565217       NaN       NaN
Bretagne                    6.661111       NaN       NaN       NaN
Centre-Val-de-Loire         7.684211       NaN       NaN       NaN
Corse                       8.514286       NaN       NaN       NaN
Grand-Est                        NaN  7.264516       NaN       NaN
Hauts-de-France                  NaN  9.911538       NaN       NaN
Ile-de-France               6.794737       NaN       NaN       NaN
Normandie                   7.150000       NaN       NaN       NaN
Nouvelle-Aquitaine               NaN       NaN  7.293548       NaN
Occitanie                        NaN       NaN  9.603333       NaN
Pays de la Loire            6.563158       NaN       NaN       NaN
Provence-Alpes-Côte d'Azur  8.864706       NaN       NaN       NaN