In [4]:
import pandas as pd

In [5]:
df= pd.DataFrame({'colonne1':[1.1, 2.7, 5.3], 'colonne2':[2, 10, 9], 'colonne3': ['oui', 'non', 'non']}, index = ['a', 'b', 'c'])

print(df)

   colone1  colone2 colone3
a      1.1        2     oui
b      2.7       10     non
c      5.3        9     non

In [9]:
%pwd

'/home/simplon'

In [11]:
nom_colonnes = ['consommation', 'cylindres', 'deplacement', 'puissance', 'poids', 'acceleration', 'annee', 'origine', 'nom']

data = pd.read_excel('//home//simplon//Téléchargements//autompg.xlsx', index_col=None, header=None, names=nom_colonnes )

print(data.head())

  consommation  cylindres  deplacement  puissance  poids  acceleration  \
0          mpg  cylindres  déplacement  puissance  poids  accélération
1           18          8          307        130   3504            12
2           15          8          350        165   3693          11.5
3           18          8          318        150   3436            11
4           16          8          304        150   3433            12

             annee  origine                        nom
0  année de modèle  origine          Nom de la voiture
1               70        1  chevrolet chevelle malibu
2               70        1          buick skylark 320
3               70        1         plymouth satellite
4               70        1              amc rebel sst